
  
  
  body {
  margin: 0;
  font-size: 20px;
  background-color: rgb(227, 227, 164);
}



h1,
h2,
h3,
h4 {
  letter-spacing:  0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 20px;
}


.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: crimson;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 25px;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: crimson;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}

.active {
  border-bottom: 2px solid;
}

.section-center {
  width: 90vw;
  margin: 0 ;
  max-width: 1170px;
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}



.photo {
  object-fit: cover;
  height: 300px;
  width: 300px;
  border: 0.25rem solid hsl(360, 71%, 66%);
  border-radius: 25px;
  display: block;
}




.price {
  color: crimson;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}


@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
.restaurant {
  color: crimson;
  font-size: 50px;
 }